<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <base href=""/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="copyright" content=""/>
    <title>Edit Detail Product</title>

    <link rel="shortcut icon" type="image/x-icon" href="images/icon-logo.png"/>
    <link href="../../css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../css/layout.css" rel="stylesheet"/>
    <script src="../../js/jquery.min.js">x</script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/chart.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>
<body>
<div class="container-fluid padding0">
    <%- include('partials/header-admin'); %>
    <div id="main">
        <%- include('partials/navbar'); %>
        <h1><span class="glyphicon glyphicon-globe addtop" aria-hidden="true"></span>&nbsp;&nbsp;Overview</h1>
        <div id="sub-main">
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
                    <ol class="breadcrumb">
                        <li>Product</li>
                        <li class="active">Edit Detail Product</li>
                    </ol>
                </div>
            </div>
            <div class="row space-top">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 option-h4 text-justify">
                    <h4>Edit Đetali Product</h4>
                    <form action="/admin/edit-product/<%=obj._id %>" method="post">
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-7 ">
                            <label>Name</label>
                            <input type="text" class="form-control" value="<%=obj.name %>" name="name">
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                            <label>Thumbnail</label>
                            <input type="file" class="form-control"  name="image">
                            <input type="hidden" name="thumbnail">
                            <img src="" alt="" id="image-preview" style="width: 100px">
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                            <label>Image Product 1 </label>
                            <input type="file" class="form-control" placeholder="Image Product" name="image1" required>
                            <input type="hidden" name="thumbnail1">
                            <img src="" alt="" id="image-preview1" style="width: 100px">
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                            <label>Image Product 2 </label>
                            <input type="file" class="form-control" placeholder="Image Product" name="image2" required>
                            <input type="hidden" name="thumbnail2">
                            <img src="" alt="" id="image-preview2" style="width: 100px">
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                            <label>Image Product 3</label>
                            <input type="file" class="form-control" placeholder="Image Product" name="image3" required>
                            <input type="hidden" name="thumbnail3">
                            <img src="" alt="" id="image-preview3" style="width: 100px">
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <label>Price</label>
                            <input type="text" class="form-control " value="<%=obj.price %>" name="price">
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <label>Stone</label>
                            <input type="text" class="form-control" value="<%=obj.stone %>" name="stone">
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <label>Hastag</label>
                            <input type="text" class="form-control" value="<%= obj.tag %>" name="tag">
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label>Detail</label>
                            <textarea type="text" class="form-control" name="detail" placeholder="Detail" rows="3">
                            </textarea>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
                            <button class="btn btn-info" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const cloudName = 'iamraw';
    const unsignedUploadPreset = 'hyfsqna2';

    var img = document.querySelector('[name="image"]');

    img.onchange = function () {
        var file = this.files[0];
        var url = `https://api.cloudinary.com/v1_1/${cloudName}/upload`;

        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var responseDataJson = JSON.parse(this.responseText);
                console.log(responseDataJson);
                var imageUrl = document.querySelector('input[name="thumbnail"]');
                imageUrl.value = responseDataJson.public_id;
                document.getElementById('image-preview').src = responseDataJson.url;
            }
        }
        xhr.open('POST', url, true);
        var fd = new FormData();
        fd.append('upload_preset', unsignedUploadPreset);
        fd.append('tags', 'browser_upload');
        fd.append('file', file);
        xhr.send(fd);
    }

    var img1 = document.querySelector('[name="image1"]');

    img1.onchange = function () {
        var file = this.files[0];
        var url = `https://api.cloudinary.com/v1_1/${cloudName}/upload`;

        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var responseDataJson = JSON.parse(this.responseText);
                console.log(responseDataJson);
                var imageUrl = document.querySelector('input[name="thumbnail1"]');
                imageUrl.value = responseDataJson.public_id;
                document.getElementById('image-preview1').src = responseDataJson.url;
            }
        }
        xhr.open('POST', url, true);
        var fd = new FormData();
        fd.append('upload_preset', unsignedUploadPreset);
        fd.append('tags', 'browser_upload');
        fd.append('file', file);
        xhr.send(fd);
    }

    var img2 = document.querySelector('[name="image2"]');

    img2.onchange = function () {
        var file = this.files[0];
        var url = `https://api.cloudinary.com/v1_1/${cloudName}/upload`;

        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var responseDataJson = JSON.parse(this.responseText);
                console.log(responseDataJson);
                var imageUrl = document.querySelector('input[name="thumbnail2"]');
                imageUrl.value = responseDataJson.public_id;
                document.getElementById('image-preview2').src = responseDataJson.url;
            }
        }
        xhr.open('POST', url, true);
        var fd = new FormData();
        fd.append('upload_preset', unsignedUploadPreset);
        fd.append('tags', 'browser_upload');
        fd.append('file', file);
        xhr.send(fd);
    }
    var img3 = document.querySelector('[name="image3"]');

    img3.onchange = function () {
        var file = this.files[0];
        var url = `https://api.cloudinary.com/v1_1/${cloudName}/upload`;

        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var responseDataJson = JSON.parse(this.responseText);
                console.log(responseDataJson);
                var imageUrl = document.querySelector('input[name="thumbnail3"]');
                imageUrl.value = responseDataJson.public_id;
                document.getElementById('image-preview3').src = responseDataJson.url;
            }
        }
        xhr.open('POST', url, true);
        var fd = new FormData();
        fd.append('upload_preset', unsignedUploadPreset);
        fd.append('tags', 'browser_upload');
        fd.append('file', file);
        xhr.send(fd);
    }
</script>
</body>
</html>