<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>CrShop</title>

    <link rel="icon" href="http://demo.magikthemes.com/skin/frontend/base/default/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="http://demo.magikthemes.com/skin/frontend/base/default/favicon.ico"
          type="image/x-icon"/>


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <link rel="stylesheet" href="../../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../css/slider.css" type="text/css">
    <link rel="stylesheet" href="../../css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="../../css/owl.theme.css" type="text/css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/style.css" type="text/css">

    <link href='https://fonts.googleapis.com/css?family=Bitter:400,700,400italic' rel='stylesheet' type='text/css'>
</head>

<body class="cms-index-index">
<div class="page">
    <%- include('partials/header'); %>
    <%- include('partials/navbar'); %>
    <!-- header -->

    <!-- breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <ul>
                    <li class="home"><a href="/" title="Go to Home Page">Home</a><span>&raquo; </span></li>
                    <li class=""><a href="/list-product">Products</a><span>&raquo; </span></li>
                    <li class="category13"><strong>Ruby</strong></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End breadcrumbs -->
    <!-- Two columns content -->
    <div class="main-container col2-left-layout" style="margin: auto">
        <div class="main container">
            <div class="row">
                <section class="best-pro col-lg-12">
                    <div class="category-title">
                        <h1>Ruby</h1>
                    </div>
                    <div class="category-products">
                        <div class="toolbar">
                            <div class="sorter">
                                <div class="view-mode"><span class="button button-active button-grid"
                                                             title="Grid">Grid</span>
                                    <a class="button button-list" title="List" href="">List</a></div>
                            </div>
                            <div id="sort-by">
                                <label class="left">Sort By: </label>
                                <ul>
                                    <li><a href="#">Position<span class="right-arrow"></span></a>
                                        <ul>
                                            <li><a href="#">Name</a></li>
                                            <li><a href="#">Price</a></li>
                                            <li><a href="#">Position</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <a title="Set Descending Direction" href="#" class="button-asc left"><span
                                            class="glyphicon glyphicon-arrow-up"
                                            style="color:#999;font-size:11px;"></span></a></div>
                            <div class="pager">
                                <div class="pages">
                                    <label>Page:</label>
                                    <ul class="pagination">
                                        <li><a href="#">«</a></li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#">»</a></li>
                                    </ul>
                                </div>
                                <div id="limiter">
                                    <label>View: </label>
                                    <ul>
                                        <li><a href="#">15<span class="right-arrow"></span></a>
                                            <ul>
                                                <li><a href="#">20</a></li>
                                                <li><a href="#">30</a></li>
                                                <li><a href="#">35</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <ul class="products-grid">
                            <div class="col-lg-12">
                                <% for (var i = 0; i < data.length; i++) {
                                            if ( data[i].stone == 'Ruby'){
                                %>
                                <li style="margin-left: 0" class="item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="item">
                                        <div class="col-item">
                                            <div class="item-inner">
                                                <div class="item-img">
                                                    <div class="item-img-info">
                                                        <a href="/product/<%= data[i]._id %>" title="Sample Product"
                                                           class="product-image">
                                                            <img src="https://res.cloudinary.com/iamraw/image/upload/<%= data[i].thumbnail %>.jpg"
                                                                 alt="<%= data[i].name %>"> </a>
                                                    </div>
                                                </div>
                                                <div class="item-info">
                                                    <div class="info-inner">
                                                        <div class="item-title">
                                                            <a href="/product/<%= data[i]._id %>" title="Lotus Ruby Ring"> <%= data[i].name %>
                                                            </a>
                                                        </div>
                                                        <div class="item-content">
                                                            <div class="rating">
                                                                <div class="ratings">
                                                                    <div class="rating-box">
                                                                        <div class="rating" style="width:80%"></div>
                                                                    </div>
                                                                    <p class="rating-links"><a href="#">1 Review(s)</a>
                                                                        <span class="separator">|</span> <a href="#">Add
                                                                            Review</a></p>
                                                                </div>
                                                            </div>
                                                            <div class="item-price">
                                                                <div class="price-box"><span class="regular-price"
                                                                                             id="product-price-1"> <span
                                                                                class="price">$<%= data[i].price %></span> </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="actions"><span class="add-to-links"> <a
                                                                    href="wishlist.ejs" class="link-wishlist"
                                                                    title="Add to Wishlist"><span>Add to Wishlist</span></a>
                            <button title="Add to Cart" class="button btn-cart"><span>Add to Cart</span></button>
                            <a href="" class="link-compare"
                               title="Add to Compare"><span>Add to Compare</span></a></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <%
                                    }
                                 else {
                                     break;
                                        }
                                }
                                %>
                            </div>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<%- include('partials/footer'); %>
<!-- End Footer -->


<!-- JavaScript -->
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/parallax.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/revslider.html"></script>
<script type="text/javascript" src="../../js/owl.carousel.min.js"></script>
<script type="text/javascript">
    //<![CDATA[
    jQuery(function () {
        jQuery(".slideshow").cycle({
            fx: 'scrollHorz',
            easing: 'easeInOutCubic',
            timeout: 10000,
            speedOut: 800,
            speedIn: 800,
            sync: 1,
            pause: 1,
            fit: 0,
            pager: '#home-slides-pager',
            prev: '#home-slides-prev',
            next: '#home-slides-next'
        });
    });
    //]]>
</script>
</body>
</html>